{% extends "base.html" %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}

{% block content %}

  {% if article.image %}
  <div class="row imagebox" style="background-image:url(/images/{{article.image}});">
    <div id='article-title'>
      {{ article.title }}
    </div>
  </div>
  {% else %}
  <div class="row imagebox" style="background-color: #aeaeae;">
    <div id='article-title'>
      {{ article.title }}
    </div>
  </div>
  {% endif %}

  {% if article.warning %}
  <div style='margin-top: 5px' class='alert alert-danger'>
    {{article.warning}}
  </div>
  {% endif %}

  <div id='article-body'>
    {{ article.content }}
  </div>

{% include "disqus.html" %}

{% endblock content %}
