{% extends "base.html" %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}

{% block content %}

  {% if article.image %}
  <div class="row imagebox" style="background-image:url(/images/{{article.image}});">
    <div id='article-title'>
      {{ article.title }}
    </div>
  </div>
  {% else %}
  <div id='article-title'>
    <i class="fa {{ article.icon }} fa-lg"></i> {{ article.title }}
  </div>
  {% endif %}

  <div id='article-abstract'>Abstract: {{ article.abstract }}</div>
  <div id='article-body'>
    {{ article.content }}
  </div>

{% if article.tags %}
  <div id='tagcloud'>
  {% for tag in article.tags %}
    <i class='fa fa-tag'></i><a href="/tag/{{ tag }}/">{{ tag }}</a>
  {% endfor %}
  </div>
{% endif %}

{% include "disqus.html" %}

{% endblock content %}
