{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
  <table border=0 cellspacing=0 cellpadding=0>
  {% for article in articles %}
  <tr>
    <td class="{{ loop.cycle('odd', 'even') }}">
      {{ article.date.strftime('%Y-%m-%d')}}
      <a href="{{ article.url }}" title="{{ article.title }}">
          {{ article.title }}
          </a>
    </td>
    </tr><tr>
      <td class="{{ loop.cycle('odd', 'even') }}">
         <div id="article-abstract">
         <i class="fa {{ article.icon }} fa-lg"></i>
         {{ article.abstract }} <a href='{{article.url}}'>Read</div>
       </td>
    </tr>
  {% endfor %}
  </table>

{% endblock content %}
