{% extends "base.html" %}

{% block content %}

  <table border=0>
  {% for article in articles %}
  <tr>
    <td>
      <div id='indextitle'>
      <a href="{{ article.url }}" title="{{ article.title }}">
        <i class="fa {{ article.icon }} fa-lg"></i>
          {{ article.title }}
          </a>
      </div>
    </td>
    </tr><tr>
      <td>
       <div id="article-abstract">{{ article.abstract }} <a href='{{article.url}}'>Read</div>
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock content %}
