{% extends "base.html" %}
{% block title %}{{ SITENAME }} - «{{ tag }}»{% endblock %}

{% block content %}
 <h2 class="page_title">Articles About <b>{{ tag }}</b></h2>
 {% if articles %}
  {% for article in articles %} 
     <div id="article">
       <div id="article-title">
          <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">
            <i class="fa {{ article.icon }} fa-lg"></i>
            {{ article.title }}
          </a>
         <div id="article-date">{{ article.locale_date }}</div>
       </div>
       <div id="article-abstract">{{ article.abstract }} <a href='{{article.url}}'>Read</div>
     </div>

  {% endfor %}
 {% endif %}
{% endblock %}
